@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	background-image: url('../img/bg.png');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* HEADER */

.container-header ul {
	list-style-type: none;
	padding: 0 5%;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container-header li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
}

.container-header li a:hover {
	background-color: #111;
	color: #008b8b;
}

.nav-icon {
	color: #008b8b;
	padding: 14px 25px;
}

/* MAIN */

.apresentacao {
	padding: 0% 5% 10% 5%;
	width: 90%;
	height: auto;
	font-size: 27px;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.apresentacao-div {
	width: 80%;
	align-self: center;
	justify-self: center;
}

.apresentacao-div span {
	line-height: 60px;
}

.apresentacao-name {
	font-size: 37px;
}

.apresentacao-name:after {
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: pisca 0.7s infinite;
}

/* Animação aplicada ao content referente a classe *.apresentacao-name* resultando num efeito de cursor piscando. */

@keyframes pisca {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.div-btn {
	margin-top: 15px;
	font-size: 15px;
	display: flex;
}

.btn {
	padding: 10px 5%;
	color: #fff;
	align-items: center;
	border: #fff solid 2px;
	border-radius: 2rem;
	text-decoration: none;
	transition: 0.3s;
}

.btn:hover {
	color: #000;
	background-color: #fff;
	border: #fff solid 2px;
}

.btn:nth-child(1) {
	margin-right: 15px;
}

.btn i {
	margin-right: 5px;
}

.apresentacao-img {
	width: 100%;
	align-items: flex-end;
}

.apresentacao-img img {
	width: 90%;
}

#Sobre {
	background-image: url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sobre-div {
	padding: 10% 5% 20% 5%;
	width: 90%;
	height: auto;
	display: flex;
}

.sobre-img {
	padding-left: 5px;
	margin: 100px 0 100px 5%;
	width: 300px;
	height: 300px;
	background-color: #008b8b;
}

.sobre-img img {
	width: 300px;
}

.sobre-mim {
	width: 50%;
	color: #fff;
	margin: 73px 0 50px 50px;
}

.projetos-div {
	padding: 5% 5%;
	color: #fff;
}

.projetos-item {
	margin: 0 0 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projeto-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.projetos-item img {
	width: 100px;
	height: 100px;
	border-radius: 1rem;
}
.projetos-item-div {
	margin-left: 25px;
}

/* FOOTER */

.container-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: #fff;
}

/* botão voltar ao topo */
#back-to-top {
	display: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	color: #fff;
	border: #008b8b solid 2px;
	border-radius: 0.5rem;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: 0.3s;
	z-index: 2;
	cursor: pointer;
}

#back-to-top:hover {
	color: #008b8b;
}
